/* * {border: 1px solid red;} */

* {
    margin: 0;
    padding: 0;
    font-family: "Golos Text", monospace;
    color: var(--light1);
    box-sizing: border-box;
}

:root {
    --dark1: #11111b;
    --dark2: #181825;
    --dark3: #1e1e2e;
    --dark4: #26283f;
    --dark5: #3e3e5e;

    --light1: #cdd6f4;
    --light2: #9399b2;
    --light3: #797f95;

    --highlight: #ee99a0;
    --lowlight: #ed8796;

    --red: #d9515c;
    --green: #53b15a;

    --transition-duration: 0.5s;
}

body {
    position: fixed;
    top: 0; left: 0;
    height: 100%; width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark3);
}

.main {
    height: 75%;
    width: 70%;
    display: flex;
}

/* STAGES */

.stage-buttons {
    height: 100%;
    width: 14%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stage-button-column-container {
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stage-button-column {
    height: 100%;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stage-button-container {
    height: 4.25%;
    width: 100%;
}

.extra-list-button-container {
    height: 4.15%;
    width: 100%;
}

.stage-button {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    background-color: var(--dark2);
    border: 1px solid var(--dark2);
    font-size: 11px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, border 0.5s;
}

.stage-button-selected {
    background-color: var(--dark1);
}

.results {
    height: 100%;
    width: 86%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-results {
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-results-text {
    margin-top: 0px;
    font-size: 40px;
}

.main-results-bar {
    height: 5%;
    width: 60%;
    border-radius: 100vmax;
    background-color: var(--red);
}

.main-results-bar-inner {
    height: 100%;
    border-radius: 100vmax;
    background-color: var(--green);
}

.results-options {
    height: 6%;
    width: 100%;
    display: flex;
}

.results-options-button {
    background-color: var(--dark4);
    border: 1px solid var(--dark4);
    font-size: 14px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, border 0.5s;
    cursor: pointer;
}

.results-options-button:hover {
    background-color: var(--dark5);
    border: 1px solid var(--lowlight);
}

.results-options-button-selected {
    background-color: var(--dark5);
}

.results-options-category {
    width: 20%;
    height: 100%;
    display: flex;
}

.results-options-word {
    width: 50%;
    height: 100%;
    border-radius: 100vmax 0 0 100vmax;
    border-right: 1px solid var(--dark3);
}

.results-options-stage {
    width: 50%;
    height: 100%;
    border-radius: 0 100vmax 100vmax 0;
    border-left: 1px solid var(--dark3);
}

.results-options-sort {
    width: 50%;
    height: 100%;
    display: flex;
    padding-left: 10px;
}

.results-options-alphabetical {
    width: 33.33%;
    height: 100%;
    border-radius: 100vmax 0 0 100vmax;
    border-right: 1px solid var(--dark3);
}

.results-options-correct {
    width: 33.33%;
    height: 100%;
    border-left: 1px solid var(--dark3);
    border-right: 1px solid var(--dark3);
}

.results-options-incorrect {
    width: 33.33%;
    height: 100%;
    border-radius: 0 100vmax 100vmax 0;
    border-left: 1px solid var(--dark3);
}

.results-list {
    height: 65%;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--dark2);
    overflow-y: scroll;
}

.results-list-item {
    height: 40px;
}

.results-li-stats {
    color: var(--highlight);
    margin-right: 5px;
}

.results-li-name {
    color: var(--light1);
    margin-right: 5px;
}

.results-li-translation {
    color: var(--light3);
    text-wrap: nowrap;
    overflow-x: scroll;
}

.results-li-bar {
    margin-top: 7px;
    height: 2px;
    width: 100%;
    border-radius: 100vmax;
    background-color: var(--red);
}

.results-li-bar-inner {
    height: 100%;
    border-radius: 100vmax;
    background-color: var(--green);
}

.buttons {
    height: 7%;
    width: 100%;
}

.home-button {
    height: 100%;
    width: 25%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark1);
    cursor: pointer;
    user-select: none;
    transition: background-color 0.5s;
    background-color: var(--lowlight);
}

.start-button:hover {
    background-color: var(--highlight);
}